#title {
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: underline;
    direction: rtl;
}
#container {
    cursor: pointer;
}
#container:hover {
    color:#fad212;
    background-color: rgba(222, 240, 120, 0.144);
}
#container:visited #title {
    color:red;
}  

#updated{
    margin-right: 1px;
}
